<div class="scores">
  <h1 class="header"><span>>Final Score:</span></h1>
  <h2 class="value"><%= score %></h2>
  <a href="" data-playagain class="again">Play Again</a>
  <div class="tweeter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="I just scored <%= score %> points in #grow" data-via="hughskennedy">Tweet</a>
  </div>
</div>
